<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EcoFarm_Queries.Properties.Settings.EcoFarmConnectionString"
            connectionString="Dsn=Eco_ODBC;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DESKTOP-5TQ1HVS;database=EcoFarm"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>